[Unit]
Description=LCD Display Service
After=network.target

[Service]
User=matt
Group=matt
ExecStart=/usr/bin/python3 /home/matt/lcd_display.py
Restart=always

[Install]
WantedBy=default.target
