[Unit]
Description=NFS Share for audio
After=network-online.target
Wants=network-online.target

[Mount]
Where=/mnt/sdb1/storage/audio
What=192.168.1.190:/mnt/sdb1/storage/audio
Options=auto,nofail
Type=nfs
TimeoutSec=10

[Install]
WantedBy=remote-fs.target
