[Unit]
Description=NFS Share for movies
After=network-online.target

[Mount]
Where=/mnt/sdf1/movies
What=192.168.1.190:/mnt/sdf1/movies
Type=nfs
TimeoutSec=6

[Install]
WantedBy=remote-fs.target
