[Unit]
Description=OctoPrint
After=network.target

[Service]
User=matt
Group=matt
ExecStart=/home/matt/OctoPrint/bin/octoprint serve
Restart=always

[Install]
WantedBy=default.target
